.attendance{
    margin-left: 42.7vh;
    margin-right: 12vh;
    height: 98.2vh;
    display: flex;
    flex-direction: column;
}

.firstContainer{
    padding-top: 10.5vh;
    flex: 1;
}

.secondContainer{
    flex: 0.5;
}

.firstChartContainer{
    display: flex;
    justify-content: space-between;
}

.secondChartContainer{
    height: 39vh;
    margin-top: 8px;
}
.attendanceTitle{
    display: flex;
    justify-content: space-between;
    height: 5vh;
}

.filterContainer{
    display: flex;
}
.attendanceTable{
    height: 28vh;
    width: 130vh;
}

.status-full-day {
  background-color: rgba(9, 107, 9, 0.588);
  color: white;
  border-radius: 2vh;
  padding: 0.5vh;
}

.status-short-day {
  background-color: rgba(177, 177, 23, 0.68);
  color: white;
  border-radius: 2vh;
  padding: 0.5vh;
}

.status-half-day {
  background-color:rgba(89, 89, 225, 0.556);
  color: white;
  border-radius: 2vh;
  padding: 0.5vh;
}

.status-leave{
    background-color: rgba(191, 12, 12, 0.669);
    color: white;
    border-radius: 2vh;
    padding: 0.5vh;
}