.dashboard {
  height: 90.7vh;
  margin-left: 42.7vh;
  margin-right: 9.1vh;
  display: flex;
  flex-direction: column;
}

.title {
  height: 11vh;
  margin-top: 12vh;
}
.currentEmployees {
  height: 22vh;
  background-color: rgb(192, 244, 173);
}
.calender {
  flex: 1;
  background-color: rgba(87, 116, 248, 0.698);
}
.activity {
  background-color: rgba(124, 75, 189, 0.337);
  flex: 1;
}

.presentEmployees {
  position: relative;
  top: -69px;
  left: 4px;
  width: 30vh;
}
.absentEmployees {
  position: relative;
  top: -26px;
  left: 8px;
}

.leaveEmployees {
  position: relative;
  top: -28px;
  left: 11px;
}
.calenderContainer {
  display: flex;
  height: 22vh;
  flex-direction: column;
}
.date {
  display: flex;
  justify-content: space-between;
}

.arrowIcons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.calenderDates {
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 13.28px;
  width: 13.3vh;
  color: #011627;
  font-size: 21px;
  font-weight: 600;
  position: relative;
  height: 17vh;
}


.calenderContainer {
  display: flex;
  flex-direction: column;
}

.activityTitle {
  display: flex;
  justify-content: space-between;
}

.activitiesRow {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.titleMeeting {
  display: flex;
  justify-content: space-between;
}

.meetingSpan {
  display: flex;
}
.statusFeed{
  background: rgb(215, 229, 255);
  height: 26px;
  width: 74px;
  border-radius: 7px;
  color: rgb(55, 125, 255);
  text-align: center;
  font-size: 13px;
}

.nameFeed{
  height: 5px;
   font-weight: 500;
   font-size:13.8px;
}

.meetingRow{
  height: 62px;
}