.employees{
    height: 90.7vh;
  margin-left: 37.7vh;
  margin-right: 9.1vh;
  display: flex;
  flex-direction: column;
  border: 1px solid aqua;
}

.addEmployee{
    background: #2379CC;
    width: 117px;
    height: 37px;
    padding: 10px;
    color: #FBFBFB;
    border-radius: 10px;
    border: none;
}

.firstRow{
    display: flex;
    justify-content: space-between;
}