.leave {
  margin-left: 42.7vh;
  margin-right: 12vh;
  height: 98.7vh;
}

.leaveRow {
  display: flex;
  margin-top: 39px;
  justify-content: space-between;
}

.applyLeave {
  background: #2379cc;
  width: 117px;
  height: 37px;
  padding: 10px;
  color: #fbfbfb;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
}

.applyLeave:hover {
  background-color: #237accb5;
  cursor: pointer;
}

.leaveTable {
  height: 61vh;
}

.status-cell {
  font-weight: 500;
  color: #fbfbfb;
  padding: 6px;
  border-radius: 7px;
}

.status-approved {
  background-color: #36b95b;
}

.status-rejected {
  background-color: #b93636;
}

.header-cell {
  color: #011627;
  font-size: 18px;
  font-weight: 900;
}

.custom-row {
  color: #979fa6;
  font-size: 14px;
}
.note-cell {
  background-color: #f1f1f1;
  padding: 8px;
  padding-right: 4vh;
  border-radius: 7px;
}
.grid-row{
  display: flex;
  gap: 2vh;
}

@media (max-width: 1850px){
  .grid-row{
    flex-wrap: wrap;
  }
}