.navbar {
  background-color: #fbfbfb;
  height: 103px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  position: fixed;
  width: 202vh;
  z-index: 2;
}

.firstParagraph {
  width: 108px;
  height: 46px;
  color: #0080fc;
  font-weight: 700;
  font-size: 37.67px;
  line-height: 45.59px;
  position: relative;
  top: -3px;
  left: 70px;
}

.searchBar {
  margin-top: 2.1vh;
  height: 2px;
  padding: 2vh;
  padding-left: 5vh;
  background: #f5f6fa;
  border: none;
  border-radius: 14px;
  width: 20.3vh;
}

.searchBar:focus {
  outline: none;
}

.firstForm {
  display: flex;
  gap: 6vh;
  margin-left: 28vh;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 4vh;
}

.searchIcon {
  position: relative;
  left: 3vh;
  color: #888;
  bottom: -3vh;
}

.searchBar::placeholder {
  padding: -1.5vh;
}

.icons{
    align-self: center;
    margin-left: 59vh;
    gap: 1.4vh;
    display: flex;
    margin-top: 2.2vh;
    color: #888;
}

.information{
    align-self: center;
    margin-top: 1.5vh;
    display: flex;
}

.secondForm{
    display: flex;
    gap: 3vh;
    margin-left: 21vh;
}

.informationIcon{
    height: 3vh;
    width: 3vh;
    border-radius: 15vh;
    margin-top: 1vh;
    margin-top: 1.8vh;
    margin-right: 0.6vh;
}

.email{
    display: flex;
    flex-direction: column;
}

.arrowIcon{
    color:  #888;
}