.MuiPaper-root {
  margin-top: 10.1vh;
  width: 34vh;
}

.list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 3vh;
}

.caption {
  color: #6c7882;
  padding-left: 2.2vh;
  font-weight: 500;
}

.sideBarBottom {
  margin-top: 31.2vh;
  margin-left: 8.7vh;
}

.drawerParagraph {
  color: #979fa6;
  font-weight: 400;
  font-size: 14.2px;
  display: flex;
  margin-left: -1.5vh;
  gap: 5.3px;
}
